* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Nunito", sans-serif;
    color: #454444; 
}

.header {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-image: url("../pictures/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-top: 20px;
}

.nav-center-section a {
    text-decoration: none;
    color: rgb(10, 10, 10); 
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-center-section a.btn-blanco {
    color: #fff;
    font-weight: 600;
    background: rgba(128, 128, 128, 0.451);
    border-radius: 5px;
    padding: 5px;
}

h1 {
    width: 100%;
    text-align: center;
    color: #346c7b;
    padding: 30px 0px 0px 0px;
    font-weight: 400;
}

p {
    text-align: center;
    font-size: 1.1rem;
}

#lugares {
    width: 500px;
    background: #fff;
    margin: 5% auto;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
}

#lugares h3 {
    width: 100%;
    text-align: center;
    color: #454444;
    padding: 30px 0px 10px 0px;
    font-weight: 400;
    font-size: 1.3rem;
}

#imagenElegida {
    display: flex;
    width: 600px;
    margin: 5% auto;
}

.lugaresTrekking {
    width: 90%;
    border: none;
    background: #e2e6e7;
    color: #454444;
    text-align: left;
    margin: 0px 0px 20px 30px;
}

#salidas {
    align-items: center;
    text-align: center;
}

.card-img-top {
    margin-top: 15px;
    
}

.card {
    width: 20rem;
    margin: 20px 2px;
    background-color: white;
    border: none;
}

.card p {
    font-weight: 600;
    color: #346c7b;
}

.fondo {
    display: flex;
    background: #e2e6e7;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.btn-comprar {
    background: #346c7b;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn-comprar:hover {
    background:  #69705e;
}

.formularioInfo h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 50px 0px 20px 0px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form {
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    position: relative;
}

.input-group input, 
.input-group textarea {
    flex-basis: 90%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 1rem;
}

::placeholder {
    font-size: 0.9rem;
}

form button,
.btn-primary {
    background: #346c7b;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

form button:hover,
.btn-primary:hover {
    background-color: #69705e;
}

.btn-primary:focus {
    background: rgb(166, 131, 36);
}

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 0.9rem;
    color:  red;
}

.input-group span i {
    color: green;
}

#submit-error {
    color: red;
}

#submit-success {
    color:  green;
}

.contacto {
    text-align: center;
    font-size: 1rem;
    color:rgb(84, 83, 83);
    padding: 50px;
}

i {
    font-size: 1.5rem;
    padding-right: 10px;
    color: #346c7b;
}

.swal2-confirm {
    background: #346c7b !important;
}